<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Condiciones Climaticas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['/openweathermap']">Open Weather Map <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" [routerLink]="['/condiciones-atmosfericas']" > Condiciones Atmosfericas</a>
        <a class="nav-item nav-link" [routerLink]="['/youtube']" > Youtube</a>
        <a class="nav-item nav-link" [routerLink]="['/tiktok']" > TikTok</a>
      </div>
    </div>
  </nav>